[Desktop Entry]
Name=Stremio Service
Comment=Freedom To Stream
Exec=sh -c "/usr/share/stremio-service/stremio-service -o '%u'"
MimeType=x-scheme-handler/stremio;
Terminal=false
Type=Application
Categories=Utility;AudioVideo;Video;Player;
Keywords=Stremio;Media;Play;
StartupNotify=true
Icon=com.stremio.service
