<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Stremio Service'
        UpgradeCode='81AA61D1-FCDF-480B-938B-58C8480459C1'
        Manufacturer='Smart Code OOD'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Freedom to Stream'
            Manufacturer='Smart Code OOD'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Stremio Service Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='stremio-service'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            Name='License.rtf'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>
                    
                    <Component Id='binary0' Guid='*'>
                        <File
                            Id='StremioService'
                            Name='service.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\stremio-service.exe'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='binary1' Guid='*'>
                        <File
                            Id='StremioUpdater'
                            Name='updater.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\updater.exe'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='binary2' Guid='*'>
                        <File
                            Id='Node'
                            Name='node.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\..\resources\bin\node.exe'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='binary3' Guid='*'>
                        <File
                            Id='FFMPEG'
                            Name='ffmpeg-windows.exe'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\..\resources\bin\ffmpeg-windows.exe'
                            KeyPath='yes'/>
                    </Component>
                    <Component Id='binary4' Guid='*'>
                        <File
                            Id='server'
                            Name='server.js'
                            DiskId='1'
                            Source='$(var.CargoTargetBinDir)\..\resources\bin\server.js'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="ApplicationShortcutDesktop" Guid="*">
                    <Shortcut Id="ApplicationDesktopShortcut"
                        Name="Stremio Service"
                        Description="Start Stremio Service"
                        Target="[APPLICATIONFOLDER]service.exe"
                        WorkingDirectory="APPLICATIONFOLDER"
                    />
                    <RemoveFolder Id="DesktopFolder" On="uninstall" />
                    <RegistryValue
                        Root="HKCU"
                        Key="Software\SmartCode\StremioService"
                        Name="installed"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />
                </Component>
            </Directory>

            <Component Id="ApplicationProtocol" Guid="*">
                <RegistryKey 
                    Root="HKCR"
                    Key="stremio"
                    Action="createAndRemoveOnUninstall">
                    <RegistryValue Type="string" Name="URL Protocol" Value="" />
                    <RegistryValue Type="string" Value="URL:Stremio Protocol" />
                    <RegistryKey Key="shell\open\command">
                        <RegistryValue Type="string" Value="&quot;[APPLICATIONFOLDER]service.exe&quot; &quot;-o&quot; &quot;%1&quot;" />
                    </RegistryKey>
                </RegistryKey>
            </Component>

            <Component Id="ApplicationAutoStart" Guid="*">
                <RegistryValue
                    Id="RegValue"
                    Root="HKMU"
                    Action="write"
                    Key="Software\Microsoft\Windows\CurrentVersion\Run"
                    Name="Stremio Service"
                    Value="[APPLICATIONFOLDER]service.exe"
                    Type="string" />
                <Condition>1</Condition>
            </Component>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            
            <ComponentRef Id='binary0'/>
            <ComponentRef Id='binary1'/>
            <ComponentRef Id='binary2'/>
            <ComponentRef Id='binary3'/>
            <ComponentRef Id='binary4'/>
        </Feature>

        <Feature
            Id='DesktopShortcut'
            Title='Desktop Shortcut'
            Description='Create a desktop shortcut.'
            Level='1'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='ApplicationShortcutDesktop' />
        </Feature>

        <Feature
            Id='Protocol'
            Title='Stremio Protocol'
            Description='Use stremio:// protocol.'
            Level='1'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='ApplicationProtocol' />
        </Feature>

        <Feature
            Id='AutoStart'
            Title='Autostart'
            Description='Launch Stremio Service at launch.'
            Level='1'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='ApplicationAutoStart' />
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='ProductICO' SourceFile='resources\service.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />

        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Stremio Service" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
        <Property Id="WixShellExecTarget" Value="[#StremioService]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish
                Dialog="ExitDialog"
                Control="Finish"
                Event="DoAction"
                Value="LaunchApplication">
                1
            </Publish>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
        <WixVariable Id='WixUIBannerBmp' Value='wix\banner.bmp'/>
        <WixVariable Id='WixUIDialogBmp' Value='wix\dialog.bmp'/>

    </Product>

</Wix>
